body{
    width: 200px;
    height: 200px;
}

section{
    border: 1px solid black;
    margin-bottom: 1rem ;
    position: relative;
    width: 200px;
    height: 200px;
}

div{
    margin: 0;
    text-align: center;
    font-size: 15px;
    background-color:whitesmoke ;
    border: 1px solid black;
}

.grid-container{
    display: grid;
    grid-template-columns: 50px 50px;
    border: 1px solid black;
}

.itemr {
    grid-column-start: span 4;
    border: 1px solid black;
    text-align: right;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: right;
    align-items:center;
  }

.items {
    border: 1px solid black;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 20px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.itemn{
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.itemt{
    border: 1px solid black;
    grid-column-end: 5;
    grid-row: 3 / span 6;
    background-color: red;
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}